
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    background-image: url(../images/Sin\ nombre.png);
    justify-content: flex-start;
    align-items: flex-start;
    background-repeat: no-repeat;
    align-content: flex-start;
    width: 100%;
    
    margin-bottom: -400px;
    height: 1400px;
    overflow: auto;
    flex-direction: column;
}


.navegacion{
    width: 100%;
    height: 10%;
    margin-top: -15px;
    padding-top: 5px;


}
.botones{
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 1.5em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(179, 169, 173);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }
  
  .botones span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid rgb(179, 169, 173);
  }
  
  .botones span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .botones:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgb(216, 64, 127);
  }
  
  .botones:hover {
    color: white;
  }
  
  .botones:active span::before {
    background: rgb(216, 64, 127);
  }





.main{
    width: 100%;
    height: 40%;
    margin-top: -250px;
    padding-top: 303px;



    
}


.contenidoMio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    margin-left: -218px;
    overflow: auto;
    flex-direction: row;
    
}

.personal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .personal img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 5%;
    width: 200px;
    height: 250px;
  }
.sobreMi{
    margin-left: 50px;
    margin-top: -7px;
    margin-right: 5px;
}

.infoSobreMi p{
  text-align:center;
  
}







.icons{
    width:30px;
    height:30px;
}
   
.btn-cssbuttons {
    --btn-color: #275efe;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span,
   .btn-cssbuttons span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons span {
    transition-delay: 0.05s;
   }
   
   .btn-cssbuttons span:first-child {
    padding-right: 7px;
   }
   
   .btn-cssbuttons span span {
    margin-left: 8px;
    transition-delay: 0.1s;
   }
   
   .btn-cssbuttons ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
   }
   
   .btn-cssbuttons ul li {
    flex: 1;
   }
   
   .btn-cssbuttons ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .btn-cssbuttons ul li a:hover {
    opacity: 0.5;
   }
   
   .btn-cssbuttons:hover::before {
    transform: scale(1.2);
   }
   
   .btn-cssbuttons:hover span,
   .btn-cssbuttons:hover span span {
    transform: translateY(-55px);
   }
   
   .btn-cssbuttons:hover ul li a {
    transform: translateY(0);
   }
   
   .btn-cssbuttons:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
   }
   
   .btn-cssbuttons:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
   }

















.sec{
    width: 100%;
    height: 50%;
    margin-top: 300px;
    padding-top: 1px;
}



.modal-imagen{
    display: none;
    }
    .modal {
    display: none; /* Ocultar el cuadro modal por defecto */
    position: fixed; /* Posicionamiento fijo para mantener el cuadro modal en la pantalla */
    z-index: 999; /* Establecer un índice de apilamiento alto para que el cuadro modal esté en la parte superior */
    left: 50%; /* Centrar horizontalmente el cuadro modal */
    top: 50%; /* Centrar verticalmente el cuadro modal */
    transform: translate(-50%, -50%); /* Mover el cuadro modal hacia arriba y hacia la izquierda la mitad de su tamaño */
    max-width: 90%; /* Establecer un ancho máximo para el cuadro modal */
    max-height: 90%; /* Establecer una altura máxima para el cuadro modal */
    overflow: auto; /* Permitir el desplazamiento si la imagen es más grande que el cuadro modal */
    padding: 20px; /* Agregar un espacio alrededor de la imagen */
    background-color: #fff; /* Establecer un color de fondo para el cuadro modal */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Agregar una sombra al cuadro modal */
    }
    
    /* Estilos para el fondo oscuro detrás del cuadro modal */
    .modal-fondo {
    display: none; /* Ocultar el fondo oscuro por defecto */
    position: fixed; /* Posicionamiento fijo para mantener el fondo oscuro en la pantalla */
    z-index: 998; /* Establecer un índice de apilamiento menor para el fondo oscuro */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Establecer un color de fondo oscuro semitransparente */
    }

















footer{
    margin-top: 406px;
}